{{ if .Site.Params.aboutSm.enable }}
{{ "<!-- Start Star Agency Section -->" | safeHTML }}
<section class="about section-sm" id="star-agency">
    <div class="container">
        <div class="row mb-50 justify-content-center">
            <div class="col-md-5 col-sm-12">
                <div class="content">
                    <h2>Star Agency</h2>
                    <p>
                        {{ with .Site.Params.aboutSm.description }}{{ . | markdownify }}{{ end }}
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 text-center offset-md-1 imagen_centrar">
                <div class="embed-responsive embed-responsive-16by9 rounded shadow">
                    <iframe class="embed-responsive-item" 
                            src="https://www.youtube.com/embed/AEu53xADG8U" 
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- End Star Agency section -->" | safeHTML }}
{{ end }}