{{ "<!-- Start Call To Action -->" | safeHTML }}
<section class="call-to-action section" style='background-image: url("{{ .Site.Params.cta.bg2 | absURL }}");'>
    <div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>Una imagen vale más que mil palabras, la fotografía es la mejor herramienta para el nuevo mundo digital, transmitir tus emociones, convicciones y objetivos a través de una imagen profesional.</h3>
			</div>
		</div>
	</div>
</section>
{{ "<!-- Start Call To Action -->" | safeHTML }}
