{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.clients }}
    {{ if .enable }}
    {{ "<!-- Client Section Start -->" | safeHTML }}
    <section class="section_clients">
        <div class="text_carousel">
            {{ with .title }}<h2>{{.}}</h2>{{ end }}
            {{ with .description }}<p>{{.}}</p>{{ end }}
        </div>
        <div class="col-md-12">
            <div id="clients-slider" class="clients-logo-slider">
                {{ range .clientLogo }}
                <figure class="logos_home">
                    <img src="{{ .image | absURL }}" alt="client-logo">
                </figure>

                {{ end }}
            </div>
        </div>
    </section>
    {{ "<!-- Client Section End -->" | safeHTML }}
    {{ end }}
{{ end }}

