{{ if .Site.Params.hero_st.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-area hero-area-st shadow margen_d_m">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="video-player">
                    <img class="img-fluid rounded" src="{{ with .Site.Params.hero_st.videoThumb }}{{.| absURL }}{{ end }}" alt="video-thumb">
                    <a class="play-icon" href="javascript:void(0)">
                        <i class="tf-ion-play" data-video="{{ with .Site.Params.hero_st.videoURL }}{{.}}{{ end }}?autoplay=1"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <div class="titulo_dorado">
                        {{ with .Site.Params.hero_st.heading }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                    </div>
                    {{ with .Site.Params.hero_st.description }}
                        <p>{{ . }}</p>
                    {{ end }}
                    {{ if .Site.Params.hero_st.button }}
                        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                            <li class="list-inline-item">
                                <a href="{{ with .Site.Params.hero_st.btnURL }}{{.}}{{ end }}" target="_blank" class="btn btn-main">{{ with .Site.Params.hero_st.btnText }}{{.}}{{ end }}</a>
                            </li>
                        </ul>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}